#eye
{
    position: relative;
    margin-left: -30px;
    top: 8px;
    right: 4px;
}
/*.username*/
/*{*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*    border: 2px solid;*/
/*    border-radius: 20px;*/
/*    margin-top: 10px;*/
/*}*/
/*.password*/
/*{*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*    border: 2px solid;*/
/*    border-radius: 20px;*/
/*    margin-top: 10px;*/
/*}*/
/*button*/
/*{*/
/*    padding: 5px;*/
/*    border-radius: 3px;*/
/*    border: 1px solid;*/
/*}*/
/*h2*/
/*{*/
/*    color: white;*/
/*}*/
/*body*/
/*{*/
/*    background-image: url(/Portfolio/images/images1.jpeg);*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100%;*/
/*}*/
/*form*/
/*{*/
/*    text-align: center;*/
/*    margin-top: 100px;*/
/*}*/